<article id="passwordResetPage">

  <section class="row mt-5">
    <div class="col text-center">
      <h1>Reset Password</h1>
    </div>
  </section>

  <section class="row">
    <div class="col col-md-8 ml-auto mr-auto col-lg-6">

      <form id="passwordResetForm" method="get" action="success.html">

        <div class="form-group mt-4">
          <input type="email" placeholder="Email" class="form-control">
          <small class="form-text text-muted">
            If the email is in our database,
            we will send there password reset instructions.
          </small>
        </div>


        <div class="clearfix"></div>

        <div class="d-flex align-items-center mt-4">
          <button type="submit" class="btn btn-primary">Reset</button>
          <span class="ml-3">
              or <a id="cancelLink" routerLink="/sign-in">Cancel</a>
            </span>
        </div>

      </form>

    </div><!-- .col-6 -->
  </section><!-- .row -->

</article><!-- #passwordResetPage -->
