<article id="signUpPage">

  <section class="row mt-5">
    <div class="col text-center">
      <h1>Sign Up</h1>
    </div>
  </section>

  <section class="row">
    <div class="col col-md-8 ml-auto mr-auto col-lg-6">

      <!-- TODO: test -->
      <div *ngIf="signUpForm.hasError('clientError')" class="alert alert-danger">
        <span>We've encountered an internal error. Reload the page</span><br>
        <span>If the error remains, please contact our tech support.</span>
      </div>
      <div *ngIf="signUpForm.hasError('serverError')" class="alert alert-danger">
        There were problems while connecting to server. Reload the page
      </div>

      <form [formGroup]="signUpForm" id="signUpForm" (submit)="onSubmit()">

        <div class="mt-4">
          <app-input
            ngDefaultControl
            [formControl]="signUpForm.controls['email']"
            [errorMessage]="emailErrorMessage"
            [placeholder]="'Email'">
          </app-input>
        </div>

        <app-input
          ngDefaultControl
          [formControl]="signUpForm.controls['password']"
          [errorMessage]="passwordErrorMessage"
          [placeholder]="'Password'"
          [type]="'password'">
        </app-input>

        <div class="clearfix"></div>

        <div class="d-flex align-items-center mt-4">
          <button type="submit" class="btn btn-primary">Sign Up</button>
          <span class="ml-3">
            or <a id="signInLink" routerLink="/sign-in">Sign In</a>
          </span>
        </div>

      </form>

    </div><!-- .col-6 -->
  </section><!-- .row -->

</article><!-- #signUpPage -->
