<article id="signUpPage">

  <section class="row mt-5">
    <div class="col text-center">
      <h1>Sign Up</h1>
    </div>
  </section>

  <section class="row">
    <div class="col col-md-8 ml-auto mr-auto col-lg-6">

      <form id="signUpForm" method="get" action="success.html">

        <div class="form-group mt-4">
          <input type="email" placeholder="Email" class="form-control">
        </div>

        <div class="form-group mt-3">
          <input type="password" placeholder="Password" class="form-control is-invalid">
          <div class="invalid-feedback">
            Password must be at least 4 characters long.
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="d-flex align-items-center mt-4">
          <button type="submit" class="btn btn-primary">Sign Up</button>
          <span class="ml-3">
              or <a id="signInLink" href="sign-in.html">Sign In</a>
            </span>
        </div>

      </form>

    </div><!-- .col-6 -->
  </section><!-- .row -->

</article><!-- #signUpPage -->
